* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  padding: 2rem;
}

.app {
  max-width: 400px;
  margin: 0;
}

.task-input {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

input {
  flex: 1;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.task-item {
  gap: 10px;
  padding: 5px 0;
  list-style: none;
}

.task-item:hover {
  background-color: #f5f5f5;
}

.task-item input[type="checkbox"] {
  cursor: pointer;
  width: 18px;           /* Optional: Makes it slightly larger */
  height: 18px;
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.delete-btn:hover {
  color: rgb(0, 0, 0);
}

.filters button {
  margin-right: 5px;
}



p, .task-input, .task-item, .filters {
  font-size: 20px;
}